.form
    &__label
        cursor: pointer
        font-weight: 500
        font-size: 1.4rem
        color: $color-grey
        margin-bottom: 1.25rem
        text-transform: uppercase

        svg
            width: 1.9rem
            height: 1.9rem
            margin-right: 1.2rem

    &__input
        width: 100%
        border: none
        font-weight: 500
        font-size: 1.6rem
        padding: 1.4rem 2rem
        border-radius: $border-radius
        background-color: $color-grey-light

        &:focus
            outline: none

        @media screen and (min-width: $laptop)
            padding: 1.6rem 2.5rem

        &-wrapper
            &:not(:last-of-type)
                margin-bottom: 3rem

            input[type="text"]
                cursor: pointer
                transition: background-color $transition-fast

                &::placeholder
                    transition: color $transition-fast
                
                &:hover
                    background-color: $color-grey

                    &::placeholder
                        color: $color-white

    &__dropdown
        left: 0
        right: 0
        top: 100%
        z-index: 1
        display: none
        cursor: pointer
        padding: 1.5rem
        position: absolute
        box-shadow: $box-shadow-dark
        border-radius: $border-radius
        background-color: $color-white

        &--active
            display: block

            & + .form__input
                color: $color-white
                background-color: $color-grey

                &::placeholder
                    color: $color-white

        &-option
            display: block
            font-weight: 500
            padding: 1rem 1.75rem
            color: $color-grey-dark
            border-radius: $border-radius
            transition: background-color $transition-fast, color $transition-fast

            &--selected
                color: $color-white !important
                background-color: $color-primary !important

            &:hover
                color: $color-black
                background-color: $color-grey-light

    &__selection
        &-wrapper
            display: flex
            overflow-x: auto
            padding: 0 2.5rem
            margin-left: -2.5rem
            width: calc(100% + 5rem)
            background-color: $color-grey-light

            @media screen and (max-width: $laptop)
                &::-webkit-scrollbar
                    display: none 

            @media screen and (min-width: $laptop)
                margin: 0
                padding: 0
                width: 100%
                border-radius: $border-radius

        &-option
            cursor: pointer
            font-size: 2.4rem
            color: $color-grey-dark
            padding: 1.75rem 2.5rem
            transition: background-color $transition-fast

            &--active
                background-color: $color-white !important

                span
                    font-weight: bold !important
                    color: $color-primary !important

            &:hover
                background-color: $color-grey

                span
                    color: $color-white

            span
                pointer-events: none
                transition: color $transition-fast

    &__options
        &-wrapper
            flex-wrap: wrap
            margin-bottom: -1rem

            @media screen and (min-width: $laptop)
                margin-bottom: -1.5rem

        &-item
            font-weight: 500
            font-size: 1.6rem
            padding: 1rem 2rem
            position: relative
            margin-bottom: 1rem
            border-radius: $border-radius
            background-color: $color-grey-light
            transition: background-color $transition-fast, color $transition-fast

            &--active
                color: #ffffff
                background-color: #2B2B2B !important

                svg
                    fill: $color-white !important

            svg
                fill: $color-black
                margin-right: 1rem
                transition: fill $transition-fast

            &:hover
                color: $color-white
                background-color: $color-grey

                svg
                    fill: $color-white

            &:not(:last-child)
                margin-right: 1rem

            @media screen and (min-width: $laptop)
                padding: 1.5rem 3rem
                margin-bottom: 1.5rem

                svg
                    width: 1.9rem
                    height: 1.9rem

                &:not(:last-child)
                    margin-right: 2rem

        &-checkbox
            top: 0
            left: 0
            right: 0
            bottom: 0
            opacity: 0
            width: 100%
            height: 100%
            cursor: pointer
            position: absolute

    &__submit
        width: 100%
        margin-top: 3.5rem
        background-color: $color-primary
