*, *::before, *::after
    margin: 0
    padding: 0
    font: inherit
    color: inherit
    box-sizing: border-box

html
    font-size: 62.5%
    font-family: 'Montserrat', sans-serif

    @media screen and (min-width: 1600px)
        font-size: .625vw

body
    font-size: 1.5rem

main
    background-color: $color-white
    border-radius: $border-radius-big