// Import font from Google fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800;900&display=swap')

// Headings styling
h1, .h1
    font-size: 4rem
    font-weight: 800

h2, .h2


h3, .h3


a
    text-decoration: none