// Color variables
$color-white: #ffffff
$color-grey: #B1B1B1
$color-grey-backlight: #fbfbfb
$color-grey-light: #F0F0F0
$color-grey-dark: #666666
$color-black: #2B2B2B
$color-primary: #A200FF
$color-primary-dark: #330061
$color-secundary: #FEEA00
$color-secundary-dark: #F5A200
$color-thirdiary: #006DFF

$border-radius: .5rem
$border-radius-medium: .75rem
$border-radius-big: 1.5rem

$transition-fast: .25s ease-out

$box-shadow: 0 .4rem 1.2rem #e7e7e7
$box-shadow-dark: 0 1rem .8rem rgba($color-black, .5)

// Breakpoint variables
$mobile-m: 375px
$mobile-l: 425px
$mobile-landscape: 568px
$tablet: 768px
$laptop: 1024px
$laptop-m: 1440px