.breadcrumb
    margin-bottom: 2rem
    align-items: stretch
    justify-content: space-between
        
    &__back-btn, &__spots-btn
        font-weight: 500
        font-size: 1.3rem
        color: $color-grey
        padding: 1rem 1.5rem
        border-radius: $border-radius
        background-color: $color-white
        border: solid .1rem $color-grey-light

        svg
            height: 1.2rem
            fill: $color-grey
            margin-right: 1rem

    &__spots-btn
        color: $color-black

        svg
            fill: $color-black
            margin: 0 0 0 1rem
            transform: rotate(-90deg)