.header
    padding: 2rem 0
    background-image: linear-gradient(to right bottom, $color-primary 35%, $color-primary-dark)

    &--front-page
        padding: 2rem 0 0
        margin-bottom: -2rem

        .header__logo
            width: 15rem
            margin: 2rem auto 5rem

            @media screen and (min-height: 810px)
                width: 10rem
                margin: 0 auto 1.5rem

        .header__illustration
            @media screen and (min-height: 810px)
                display: block


    .container
        @media screen and (min-width: $laptop)
            display: flex
            align-items: center
            justify-content: space-between

    &__logo
        width: 10rem
        display: block
        margin: 0 auto

        @media screen and (min-width: $laptop)
            width: 16.5rem !important
            margin: 2rem 0 !important

    &__illustration
        display: none
        width: 24.75rem
        padding-top: 1.5rem
        margin: 0 auto -5.35rem

        @media screen and (min-width: $laptop)
            width: auto
            padding-top: 0
            margin-right: 0
            height: 15.75rem
            display: block !important
            transform: translateX(100vw)
            margin: 2.5rem 0 -2.55rem auto
            animation: illuSlide 1.5s forwards
    
    @media screen and (min-width: $laptop)
        margin: 0
        padding: 0
        overflow: hidden
        background-image: linear-gradient(to right, $color-primary 35%, $color-primary-dark)

@keyframes illuSlide
    0%
        opacity: 0
        transform: translateX(35vw)

    60%
        opacity: 1

    100%
        transform: translateX(0vw)