.intro
    flex: 1
    opacity: 0
    display: none
    padding: 5rem
    overflow: hidden
    margin-left: 3rem
    color: $color-white
    text-align: center
    z-index: -1
    animation: slideFromRight 2s 1s forwards
    border-radius: $border-radius-big
    transition: transform ease-out .5s
    background-image: linear-gradient(to left bottom, $color-primary 35%, $color-primary-dark)

    &__image
        display: none
        max-width: 45%
        margin-bottom: 5rem

        @media screen and (min-width: 1330px)
            display: block

    &__content
        p
            line-height: 2.1
            font-size: 1.6rem
            margin-top: 2.5rem

    .btn
        padding-left: 6rem
        padding-right: 6rem

    @media screen and (min-width: $laptop)
        display: flex

@keyframes slideFromRight
    0%
        opacity: 0
        transform: translateY(-100vh)

    100%
        opacity: 1
        transform: translateY(0vh)