.workspace
    margin-top: 3rem

    &__image
        width: 80%
        display: block
        margin: 0 auto
        max-width: 30rem

    @media screen and (min-width: $laptop)
        flex: 1
        margin-top: 0
        padding: 3rem
        box-shadow: $box-shadow
        background-color: #c1dbff
        border-radius: $border-radius
        border-radius: $border-radius-big